<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
	<title>Contratos</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
	<link href="fontawesome/css/all.css" rel="stylesheet" type="text/css" media="all"/>
	<script type="text/javascript" src="jquery/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="js/inputMask.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container" style="min-height: 730px;">
		<div class="jumbotron" align="center" style="margin-top: 50px;">
			<h2><i class="fas fa-user-tie"></i> Detalhar de Fornecedor</h2>
			<br />
			<div align="left">
				<form action="atualizarFornecedor" method="post">
					<div class="form-group">
						<label for="id">ID</label> 
						<input type="text" class="form-control" id="id" name="id" placeholder="ID" readonly="readonly" th:field="${fornecedor.id}"/>
					</div>
					<div class="form-group">
						<label for="razaoSocial">Razão Social*</label> 
						<input type="text" class="form-control" id="razaoSocial" name="razaoSocial" th:field="${fornecedor.razaoSocial}" />
					</div>
					<div class="form-group">
						<label for="cnpj">CNPJ*</label> 
						<input type="text" class="form-control" id="cnpj" name="cnpj" placeholder="CNPJ" th:field="${fornecedor.cnpj}"
						maxlength="18" onchange="javascript: fMasc( this, mCNPJ );" oninput="javascript: fMasc( this, mCNPJ );"
						/>
					</div>
					<div class="form-group">
						<label for="email">E-mail*</label> 
						<input type="email" class="form-control" id="email" name="email" placeholder="E-mail" th:field="${fornecedor.email}"/>
					</div>
					<div class="form-group">
						<label for="telefone">Telefone</label> 
						<input type="tel" class="form-control" id="telefone" name="telefone" placeholder="Telefone" th:field="${fornecedor.telefone}"
						 maxlength="14" onchange="javascript: fMasc( this, mTel );" oninput="javascript: fMasc( this, mTel );"
						/>
					</div>
					<div class="form-group">
						<label for="endereco">Endereço</label> 
						<input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço" th:field="${fornecedor.endereco}"/>
					</div>
					<input type="hidden"  id="id" name="id"/>
					<button type="submit" class="btn btn-success">Atualizar</button>
				</form>
				<br/>
				<p> <i><span th:text="${mensagem}"></span> </i></p>
			</div>
			
			
		</div>
		<a href="cadastroFornecedor" class="btn btn-sm btn-primary" title="Voltar">Voltar</a>
	</div>
	
</body>

<footer class="page-footer font-small pt-4" style="background-color: #e9ecef;margin-top: 20px;" > 
	<div class="footer-copyright text-center" style="padding-bottom: 2rem;height: 35px !important;">
		&copy; Gerenciador de Contratos [v0.0.1]
	</div>
</footer>
</html>